*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-container{
    background-color: #f5f2dc;
    height: 110px;
    width: 100%;
    padding: 15px;
}

.nav-main{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;/*dica p/ centralizar um div dentro de outro div*/
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.nav-brand{
   font-size: 1.3rem;
   font-weight: 700;
   margin-bottom: 5px;
}

.nav-main a{
    color: #82b097;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-items{
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-items li{
    margin: 10px;
}

.menu-items a{
    font-size: .9rem;
}

.menu-items a:hover{
    color: #48996c;
}

/*Seção inicio*/
#inicio{
    background-color: #82b097;
    color: #fff;
    padding: 20px;
   
}

.start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-title{
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    line-height: 23px;
    font-weight: 700;
}

.start-subtitle{
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
    line-height: 23px;
}

.start-items{
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.start-items li{
    margin: 10px;
    font-size: .8rem;
}

#bt_3{
    height: 58px;
}

.btn:hover{
  color: #48996c;
}

.start-video{
    margin-top: 15px;
    padding: 10px;
}

.title-video{
    text-align: center;
    margin-bottom: 4px;
    font-weight: 700;
}

/* Css dos modais */
.modalInicio .modal-content{
    background-color: #f5f2dc;
    color: #fff;
}

.modalInicio .modal-title{
    color: #48996c;
    font-weight: 700;
}

.modalInicio .modal-body{
    color:#82b097;
    font-weight: 700;
    line-height: 28px;
}


.modalInicio .btn:hover{
    color: #48996c;
}

.modalInicio .btn:hover{
    color:#f5f2dc;
    background-color:#82b097;
}


/*-----------------------------*/
/*Seção terapia*/
#terapia{
    background-color: #f5f2dc;
    color: #82b097;
    padding: 20px;
} 

.terapia-title{
    padding: 8px;
    text-align: center;
    
}

.terapia-title h1{
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.terapia-title p{
    font-size: 1.1rem;
    line-height: 23px;
}

.terapia-icons{
    text-align: center;
}

.terapia-icons-list{
    margin: 15px 0 15px 0;
}

.terapia-icons-list i{
    font-size: 1.9rem;
}

.quote{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Seção sobre */
#sobre{
    background-color: #82b097;
  
}

.sobre-body{
    margin: 0;
    padding: 10px;
    text-align: center;
}

.sobre-content{
    color:#f5f2dc;
    font-size: 1.1rem;
   
}

.sobre-body p{
    padding: 5px;
    line-height: 33px;
}

.sobre-img, img{
    text-align: center;
    border-radius: 50%;
    padding-bottom: 10px;
}

/*botão*/
.sobre-btn{
    margin-top: 10px;
}

#sobre .btn{
    width: auto;
    height: 35px;
    border-radius: 10px;
    
}

/* Seção Footer */
.footer{
    background-color:#f5f2dc;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.footer-title{
    color:#48996c;
    font-size: 1.4rem;
    margin: 15px 5px;
}

.social-container i{
    font-size: 27px;
    margin: 0 10px 0 10px;
    color:#48996c;
}



/*Media query*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .nav-container{
        display: flex;

    }

    .nav-main{
       flex-direction: row;
       justify-content: space-between;
    }

    .nav-brand{
    font-size: 1.5rem;
       margin-bottom: 0;
    }

    .menu-items a{
        font-size: 1rem;
    }

    /* Seção inicio */
    .start-title{
        font-size: 1.5rem;
    }

    .start-subtitle{
        font-size: 1.4rem;
        padding: 12px;
      
    }
    
    .start-items li{
        margin: 8px;
        font-size: 1.1rem;
    }

    .start-video iframe{
        width: 620px;
        height: 400px;
    }

    /* Seção terapia */
    .terapia-title h1{
        font-size: 1.5rem;
    }

    /* Seção sobre */
    .sobre-content{
        color:#f5f2dc;
        font-size: 1.3rem;
        line-height: 23px;
       
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
   


    .nav-brand{
        font-size: 1.6rem;
      
    }

    .menu-items a{
        font-size: 1.1rem;
    }

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}